@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

ul{
    margin-left: 75%;
}
.nav-link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

#name{
    color: rgb(187, 255, 0);
    font-weight: bold;
}
.categories{
    margin-top:1%;
    margin-left: 3%;
    margin-right: 3%;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}
#carouselExampleInterval{
    height:500px;
    width:100%;
}
img{
    height:500px;
    width:100%;
}
.one{
    height:100px;
    width:130px;
}
.card{
    height:130px;
    width:130px;
    background-color: black;
    color:white;
    border: none;
    box-shadow: 
        -2px -2px 6px 2px rgb(114, 111, 111),
         2px 2px 6px 2px #918c8c;
    position: relative;
}
a{
    text-decoration: none;
}
h4{
    color:white;
    font-size: 1rem;
    text-align: center;
}